/*
Global style rules
*/

* {
  box-sizing: border-box;
}

html, body {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(40, 44, 52);
  color: white;
}


/*
Header Section
*/


header {
  display: flex;
  text-transform: uppercase;
}

header img {
  padding: 3px;
  width: 120px;
  height: 120px;
  margin-left: 5px;
}

.header_box {
  width: 100%;
  text-align: right;
  padding-right: 3%;
  float: right;
}

#heading_tag {
  color: orange;
}

header h1 {
  font-weight: 200;
}


/*
Main Section
*/


main {
  width: 100%;
  background-color: rgb(40, 44, 52);
}

#main_image {
  max-width: 100%;
}

main h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 3% auto;
  color: orange;
  font-weight: 300;
}

.main_figure {
  text-align: center;
}

#article {
  margin: 20px;
}


/*
Project Section
*/

.project_figures {
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: center;
  color: green;
}

.project_figures a {
  text-decoration: none;
  color: lime;
}

#pixel_art_maker {
  max-height: 300px;
}


/*
Footer Section
*/


footer {
  width: 100%;
  padding: 40px 20px;
  min-height: 125px;
  margin-top: 80px;
  margin-left: 0;
  background-color: rgb(20, 24, 32);
}

footer a {
  text-decoration: none;
  color: orange;
}

.social_links {
  text-align: center;
  padding: 10px;
}
#github-social {
  max-height: 20px;
}

#design-evo {
  font-size: 14px;
}

/*
Media queries for responsive styling.
*/


@media screen and (max-width: 767px) {
 .project_figures {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

/* @media screen and (min-width:786px) and (max-width: 923px) {
  .project_figures {

    width: calc((100% - 20px) / 3);
  }
} */

@media screen and (min-width: 768px) and (max-width:1200px) {
  .figure_images {
    max-width: 250px;
  }
  .project_figures  {
    width: calc((100% - 10px) / 3);
  }
  .project_figures:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 1201px) {
  .project_figures  {
    width: calc((100% - 10px) / 3);
  }

  header, main, #header_hr {
    max-width: 1184px;
    margin: auto;
  }
}
