/*
Global style rules
*/

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'open sans', sans-serif;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(40, 44, 52);
  color: white;
}


/*
Header Section
*/

.navbar {
  width: 100%;
  border-bottom: 1px solid white;
}

header {
  display: flex;
  text-transform: uppercase;
}

#logo-img {
  padding: 3px;
  width: 120px;
  height: 120px;
  margin-left: 5px;
}

.header-box {
  width: 100%;
  text-align: right;
  padding-right: 3%;
  justify-content: flex-end;
}

#heading_tag {
  color: orange;
}

header h1 {
  font-weight: 200;
}


/*
Main Section
*/


main {
  width: 100%;
  background-color: rgb(40, 44, 52);
}

#main-image {
  width: 100%;
}

main h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 3% auto;
  color: orange;
  font-weight: 300;
}

.main-figure {
  text-align: center;
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

#article {
  position: absolute;
  margin: 0 5%;
  z-index: 10;
  top: 30%;
  font-size: 20px;
}


/*
Featured Work Section
*/

.project-figures {
  width: 100%;
  display: inline-block;
  margin: 0;
  text-align: center;
  /* color: rgb(26,248, 79); */

}
.project-figures:hover p {
  color: #C3C32F;
}

.project-figures img {
  box-shadow: 0px 0px black;
  transition-property: box-shadow;
  transition-duration: .5s;
  transition-timing-function: linear;
}
.project-figures:hover img {
  box-shadow: 8px 5px 10px rgb(20, 24, 32), 0.2em .4em 2.3em gray;
}

.project-figures a {
  text-decoration: none;
  color: rgb(26, 248, 79);
}

#pixel_art_maker {
  max-height: 300px;
}


/*
Footer Section
*/


footer {
  width: 100%;
  padding: 40px 20px;
  min-height: 125px;
  margin-top: 80px;
  margin-left: 0;
  background-color: rgb(20, 24, 32);
}

footer a {
  text-decoration: none;
  color: rgb(255, 164, 50);
}

footer a:hover {
  color: #C3C32F;
}

.social_links {
  text-align: center;
  padding: 10px;
}
#github-social {
  max-height: 20px;
}

#design-evo {
  font-size: 14px;
}

/*
Media queries for responsive styling.
*/


@media screen and (max-width: 767px) {
  #article {
    margin: 0 20%;
  }

 .project-figures {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
  #article {
    margin: 0 28%;
    font-size: 24px;
  }
  .project-figures img {
    max-width: 250px;
  }
  .project-figures  {
    width: calc((100% - 10px) / 3);
  }
  .project-figures:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 1201px) {
  #article {
    margin: 0 32%;
    font-size: 32px;
  }
  .project-figures  {
    width: calc((100% - 10px) / 3);
  }

  main, #header-hr {
    max-width: 1184px;
    margin: auto;
  }

  .navbar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    border-bottom: none;
    background-color:rgb(40, 44, 52);
    z-index: 1000;
  }
  .main-figure {
    margin-top: 140px;
  }
}
